/*
 * HELPER
**/
.hidden {
  display: none;
}

/*
 * GRID LAYOUT
**/
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-sm-4 {
  width: 33.33333333%;
  padding: 15px;
  float: left;
}
.col-sm-8 {
  width: 66.66666667%;
  padding: 15px;
  float: left;
}
.col-sm-12 {
  width: 100%;
  padding: 15px;
}

/* Mobile Device */
@media only screen and (max-width: 768px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .col-sm-4 {
    float: none;
    width: 100%;
    padding: 0px;
  }
  .col-sm-8 {
    float: none;
    width: 100%;
    padding: 0px;
  }
  div[class^="col-sm"]:nth-child(2) {
    margin-top: 15px;
  }
}